In [47]:
import pandas as pd
import numpy as np

In [48]:
data = pd.read_csv("dataset w7.csv")

In [49]:
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# 1. Carry out descriptive analytics on the dataset

In [50]:
# to find the mean
import statistics
import numpy as np


data1 = data["Total Marks"].mean()

In [51]:
data1

32.32142857142857

In [52]:
#mean of the data 32.321
#to find null in the data


data2 = data.isnull().sum()

In [53]:
data2

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

In [54]:
data.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

# 2. Check whether female and male students scored the same marks.

In [60]:
#to check whether female and male scored the same marks
 
from scipy.stats import ttest_ind

#h0 : female and male did not score the same mark
#h1 : female and male scores the same mark
    
    
    
df1 = data[data["Gender"] == "male"][["Total Marks"]]
df2 = data[data["Gender"]=="female"][["Total Marks"]]
alpha = 0.05
_,p_value =ttest_ind(df1,df2)

In [61]:
if (p_value>alpha):
    print("Failing to reject null hypothesis")
else:
    print("Reject null hypothesis")

Failing to reject null hypothesis

# 3. Whether test preparation helps the students?

In [64]:
#ho : test preparation does not help students
#h1 : test preparation help students

df3 = data[data["Test preparation"]== "Completed"]["Total Marks"]
df4 = data[data["Test preparation"]== "none"]["Total Marks"]
alpha = 0.05
_,p_value =ttest_ind(df3,df4)

In [65]:
if (p_value>alpha):
    print("Failing to reject H0")
else:
    print("Reject h0")

Reject h0